.header {
    border-bottom: 1px solid #ececec;
    
}

.header__container {
    display: flex;
    align-items: center;
}

.contacts {
    display: none;
    align-items: center;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            justify-content: center;
        }
    
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: center;
            gap: 30px;
            margin-left: auto;
        }
 }

.contacts__item {
      display: flex;
      align-items: center;
  }


.contacts__link {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 31px 0;

        @media screen and (min-width: 768px) {
            padding-top: 0;
            padding-bottom: 0;
        }
    
        @media screen and (min-width: 1200px) {
            padding-top: 31px;
            padding-bottom: 31px;
        }


    &:hover,
    &:focus {
    color: var(--accent);
    fill: var(--accent);} 
}
