.backdrop {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(47, 48, 58, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}


.modal {
    display: flex;
    flex-direction: column;
    min-height: 581px;
    min-width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    fill: var(--secondary-text-color);
    background: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    fill: var(--accent);}
}

.modal-icon-close {
    width: 11px;
    height: 11px;
}

/* ***************************!!!!MODAL HW6 */
.modal-form {
    padding: 40px;
}

.modal-form-title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--title-text-color);
    margin-bottom: 12px;
}

.modal-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;

&:first-child {
    margin-top: 12px;}
}

.modal-field-title {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.modal-input-field {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 0;
    margin-bottom: 4px;
    padding-left: 42px;
    padding-top: 11px;
    padding-bottom: 11px;
    outline: transparent;
    cursor: text;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    border-color: var(--accent);
} }

.modal-icon-name {
    width: 12px;
    height: 12px;
    top: 50%;
    left: 12px;
    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-input-field:hover~&,
    .modal-input-field:focus-within~& {
    fill: var(--accent);
} }

.modal-field-tel {
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-icon-tel {
    width: 13px;
    height: 13px;
    top: 50%;
    left: 12px;
    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

.modal-input-field:hover~&,
.modal-input-field:focus-within~& {
    fill: var(--accent);
} }

.modal-field-mail {
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-icon-mail {
    width: 15px;
    height: 12px;
    top: 50%;
    left: 12px;
    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-input-field:hover~&,
    .modal-input-field:focus-within~& {
    fill: var(--accent);
} }

.modal-comment-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.modal-comment-input {
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--secondary-text-color);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
    color: rgb(169, 169, 169);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);}

    &:hover,
    &:focus-within {
    border-color: var(--accent);
} }

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.modal-agreement-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 29px;
    padding: 0 12px;
}

.modal-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.modal-agreement {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.modal-agreement-link {
    color: var(--accent);
    text-decoration: underline;
}

.modal-checkbox-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 15px;
    border: 2px solid #000000;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-icon {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:hover~.modal-checkbox-pic,
.modal-checkbox:focus~.modal-checkbox-pic {
    border-color: var(--accent);
}

.modal-checkbox:checked+.modal-checkbox-pic {
    background-color: var(--accent);
    border-color: transparent;
}

.modal-checkbox:checked+.modal-checkbox-pic>.modal-checkbox-icon {
    fill: var(--primary-bg-color);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.modal-container-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: var(--primary-bg-color);
    width: 200px;
    height: 50px;
    border: transparent;
    outline: transparent;
    background: var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: var(--button-active-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
} }