:root {
    /* !!!  COLORS  !!! */
    --primary-text-color: #757575;
    --secondary-text-color: #000000;
    --title-text-color: #212121;
    --accent: #2196f3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --footer-bg-color: #2f303a;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --button-active-bg-color: #188ce8;
    --border-color: #eeeeee;
    --icon-color: #afb1b8;
    /* !!!  FONTS !!! */
    --font-primary: 'Roboto', sans-serif;
    --font-logo: 'Raleway', sans-serif;
}